.node {
  width: 30px;
  height: 30px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  text-align: center;
}

.node-start {
  background-color: blue;
}

.node-end {
  background-color: crimson;
}

.node-visited {
  background-color: chartreuse;
}

.node-shortest-path {
  background-color: aquamarine;
}